@model IEnumerable<School.Models.Teacher>

@{
    ViewData["Title"] = "RegisterScore";
}

<h1>RegisterScore</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Students</th>
            <th>Courses</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <form asp-action="ResgisterScore" method="post">
                    @foreach (var course in item.TeacherStudents)
                    {
                        @Html.DisplayFor(modelItem => course.Student.Name)

                            <input  class="btn btn-primary mx-2" />
                            <br />
                    }
                            <button type="submit">send</button>
                        </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
